{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <div class = "blog">
    <title> BLOG </title>
    </div>
    <meta name="Blog Post" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
      <div id="container">
        <div id="header"><b>BLOG TEMPLATE</b>
          <h2>Soft blog template...</h2>

        </div>
        <div id="horizontal"> <a href="">Home</a> <a href="">Articles</a> <a href="">Contact</a> 
        </div>

        <div id="right-column">
          <div id="searchbox">
            <form action="search" />
            <input name="searchQuery" class="text" type="text" />
            <input type="submit" value="Search" name="B1" class="button" />
         
            {%for post in posts reversed%}
        <div id="content">
          <h2>{{post.title}}<span class="black"></span></h2>
          <p> {{post.body|truncatewords:20}} </p>
          <p><a href='post/{{post.id}}'>Read more</a> > Posted on: {{post.created_at}}</p>
        {%endfor%}

      </div>
        <div id="footer"> <a href=""></a> 
        </div>
      </div>
    
    <script src="" async defer></script>
  </body>
</html>